@model IEnumerable<AppFront.Models.Categoria>

@{
    ViewData["Title"] = "Indexcate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Indexcate</h1>

<p>
    <a asp-action="Create">Agregar una nueva categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.ActionLink("EditCate", "EditCate", new {  id=item.ID }) |
                @Html.ActionLink("Details", "Details", new {  id=item.ID }) |
                @Html.ActionLink("Deletecate", "Deletecate", new {  id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
